:host {
  margin: 0 auto;
  text-align: center;
}

.btn {
  font-size: 18px;
}

.count {
  font-size: 50px;
}

.actions {
  margin-bottom: 20px;
}
.actions .btn {
  margin: 0 8px;
}


.label-count {
  margin-right: 8px;
}
